.button {
  font-size: 1.25rem;
  background-color: transparent;
  height: 3rem;
  padding: 0 1.75rem;

  border: 1px solid var(--purple-300);
  border-radius: 0.5rem;
  color: var(--purple-300);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  transition: color, background-color, 0.3s ease-in-out;

  &:hover {
    background-color: var(--purple-300);
    color: var(--gray-100);
  }

  
}

.isFilled {
  background-color: var(--purple-300);
  color: var(--gray-100);

  transition: filter 0.3s ease-in-out;

  &:hover {
    filter: brightness(0.8);
  }
}