.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2%;
}

.postInfo {
  display: flex;
  gap: 1.75rem;

  span, time {
    display: flex;
    gap: 0.5rem;
    color: var(--gray-200);
  }
}

.logo {
  display: flex;
  gap: 7px;

  h1 {
    font-size: 28px;
    font-weight: 600;
  }
}