
.main {
  padding: 1rem 0;
}

/* Header Section */
.headerSection {
  padding-bottom: 4rem;

  .hero {
    display: flex;
    align-items: center;
  }
  
  .text {
    h1 {
      font-size: 2.5rem;
      font-weight: 600;
      margin-bottom: 1.5rem;
  
      strong {
        font-weight: 900;
        color: var(--purple-300);
      }
    }
  
    p {
      font-size: 1.25rem;
    }
  
    button {
      margin-top: 2rem;
    }
  }
  
  .image {
    position: relative;
    max-height: 400px;
    max-width: 400px;
    width: 100%;
    height: 100%;
  
    img {
      width: 100%;
    }
  }
}

/* Spotlight Section */

.spotLightSection {
  padding: 6rem 0;

  .articleHero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    height: 30rem;

    .articleText {
      h1 {
        font-size: 2.5rem;
        margin-bottom: 1rem;

        transition: color 0.3s;

        &:hover {
          color: var(--purple-300);
        }
      }

      p {
        font-size: 1.25rem;
        margin-bottom: 1rem;
      }

      button {
        margin-top: 2rem;
      }
    }

    .articleImg {
      max-width: 30rem;
      max-height: 30rem;
      width: 100%;
      height: 100%;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        max-width: 800px;
      }
    }
  }
}

/* Postlist Section */

.postsListSection {
  padding: 6rem 0;

  .articleSimple {
    display: flex;
    gap: 3rem;
    align-items: center;

    & + article {
      margin-top: 5rem;
    }
  
    h2 {
      font-size: 1.85rem;
      margin-bottom: 0.5rem;

      transition: color 0.3s;

      &:hover {
        color: var(--purple-300);
      }
    }

    p {
      font-size: 1.25rem;
      margin-bottom: 1.5rem;
    }

    .articleImg {
      max-width: 10.5rem;
      max-height: 10.5rem;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;

      border-radius: 0.75rem;

      img {
        max-width: 40rem;
      }
    }
  }

  .loadingMorePosts {
    display: block;
    margin-top: 2.5rem;
    color: var(--purple-300);

    cursor: pointer;
    font-size: 1.25rem;
    text-align: center;
  }
}

/* newsletter Section */

.newsletterSection {
  padding: 6rem 0;
  height: 15rem;

  background: var(--gray-500);

  > div {
    display: flex;
    justify-content: space-between;
  }

  .newsletterText {
    h3 {
      font-size: 2.25rem;
      color: var(--purple-300);
      font-weight: 600;
      margin-bottom: 0.5rem;
    }

    p {
      font-size: 1rem;
    }
  }

  .newsletterForm {
    display: flex;
    input {
      height: 2.95rem;
      width: 25rem;
      padding-left: 15px;

      background: var(--gray-700);
      color: var(--gray-100);
      border: 0;
      border-radius: 0.25rem;

      &:focus {
        outline: 0;
      }
    }
  }
}